.boton-enlace {

    border: none;
    display: inline-flex;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 10px;
    transition: backgroud-color 0.3s ease;
    }
    .boton-enlace:hover {
        background-color: #0056b3;
        }

h1{
    margin-bottom: 40px;
}

body{

    text-align: center;
}

input{
    border: none;
    border-bottom: 2px grey solid;
    text-align: center;
    padding: 5px;
}
body{
    font-family: sans-serif;
}